pyasn1==0.6.1
certifi==2024.12.14
charset-normalizer==3.4.0
idna==3.10
urllib3==2.2.3
pyparsing==3.2.0
cachetools==5.5.0
pyasn1-modules==0.4.1
google-auth==2.37.0
rsa==4.9
googleapis-common-protos==1.66.0
protobuf==3.20.3
proto-plus==1.25.0
requests==2.32.3
google-auth-httplib2==0.2.0
httplib2==0.22.0
annotated-types==0.7.0
pydantic-core==2.27.1
typing-extensions==4.12.2
google-ai-generativelanguage==0.6.10
google-api-python-client==2.155.0
uritemplate==4.1.1
pydantic==2.10.3
tqdm==4.67.1
colorama==0.4.6
grpcio==1.68.1
packaging==24.2
google-generativeai==0.8.3
grpcio-status==1.48.2
pillow==10.4.0
